.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.form-group {
    margin-bottom: 20px;
    input[type="text"], textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: var(--gray);
    }
    textarea{
        resize: none;
        outline: none;
        min-height: 7rem;
    }
}



button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}


.file-input-container {
    position: relative;
  }
  
  .file-input-label {
    display: inline-block;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    // background-image: url('../../assets/upload.png');
    // width: 50px;
    background-size: cover;
    // height: 50px;

    img{
        width: 100px;
        height: 100px;
    }
  }
  
  .file-input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    
  }

  
  .upload-icon {
    margin-right: 10px;
  }
  